
*.exe
*.pdb
*.sdf
*.suo
/vcproj-9/char-server_sql
/vcproj-9/login-server_sql
/vcproj-9/mapcache
/vcproj-9/map-server_sql
/vcproj-10/*.user
/vcproj-10/char-server_sql
/vcproj-10/login-server_sql
/vcproj-10/mapcache
/vcproj-10/map-server_sql
char-server_sql
login-server_sql
map-server_sql